<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/static/images/resume.ico" type="image/x-icon" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-robot"></i></a>
        <!-- cell phone version -->
        <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#linkbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- window version -->
        <div class="collapse navbar-collapse" id="linkbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="fa-solid fa-house"></i>Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/file"
                ><i class="fa-solid fa-book"></i>作品集</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/record"
                ><i class="fa-solid fa-clipboard"></i>紀錄相關</a
              >
            </li>
            <li
              class="nav-item nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-folder-open"></i>其他資訊
            </li>
            <ul class="dropdown-menu" style="width: 100%; text-align: center">
              <li>
                <a
                  class="dropdown-item"
                  href="https://www.linkedin.com/in/erik-chung-2bbb3a170/"
                  id="linkedin"
                  target="_blank"
                  ><i class="fa-brands fa-linkedin"></i>LinkedIn</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://www.credly.com/users/erik-chung/badges"
                  id="credly"
                  target="_blank"
                  ><i class="fa-solid fa-id-badge"></i>Credly</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://github.com/delphin2065/demoProject"
                  id="github"
                  target="_blank"
                  ><i class="fa-brands fa-github"></i>GitHub</a
                >
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="/resume"
                  id="resume1"
                  target="_blank"
                  ><i class="fa-solid fa-file"></i>Resume</a
                >
              </li>

            </ul>
            <li class="nav-item">
              <a class="nav-link" href="mailto:delphin2065@hotmail.com"
                ><i class="fa-solid fa-envelope"></i>與我聯絡</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-flask"></i>思多葛市場研究股份有限公司
              </h5>
              <p class="card-text">
                本人於思多葛市場研究任職期間提交流行音樂相關統計調查。
              </p>
            </div>
            <div
              class="imgSet"
              style="overflow: scroll; display: flex; flex-direction: column"
            >
              <img
                src="/static/images/1.jpg"
                alt=""
                style="overflow: auto"
                width="auto"
              />
              <img src="/static/images/11.jpg" alt="" style="overflow: auto" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-flask"></i>國泰期貨股份有限公司
              </h5>
              <p class="card-text">
                國泰期貨任職期間編譯相關外期推廣手冊(手稿)，目的協助投資人熟悉外期商品。
              </p>
            </div>
            <div
              class="imgSet"
              style="overflow: scroll; display: flex; flex-direction: column"
            >
              <img src="/static/images/2.jpg" alt="" style="overflow: auto" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-flask"></i>台新證券股份有限公司
              </h5>
              <p class="card-text">
                台新證券期間，協助單位部門處理交易相關事宜，以下為單位任務進程截圖。內容包括價量回測
                系統、市場法人的籌碼變化、各衍生性商品間的關係性與策略風險模擬試算。
              </p>
            </div>
            <div
              class="imgSet"
              style="overflow: scroll; display: flex; flex-direction: column"
            >
              <img src="/static/images/3.jpg" alt="" style="overflow: scroll" />
              <img src="/static/images/4.jpg" alt="" style="overflow: scroll" />
              <img src="/static/images/5.jpg" alt="" style="overflow: scroll" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-flask"></i>大昌證券股份有限公司
              </h5>
              <p class="card-text">
                大昌證券期間，協助各部門 ADOX Cmoney
                資料庫相關資訊處理，與庶務報表產出，以下為單位交
                辦事項截圖。內容包括回測系統建置、交易績效追蹤、資料報表與庶務報表建置。
              </p>
            </div>
            <div
              class="imgSet"
              style="overflow: scroll; display: flex; flex-direction: column"
            >
              <img src="/static/images/6.jpg" alt="" style="overflow: scroll" />
              <img src="/static/images/7.jpg" alt="" style="overflow: scroll" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-flask"></i>IPLANET
              </h5>
              <p class="card-text">
                協助單位產出 Power Bi 分析報表與完成公司交付事項。
              </p>
            </div>
            <div
              class="imgSet"
              style="overflow: scroll; display: flex; flex-direction: column"
            >
              <img src="/static/images/8.jpg" alt="" />
              <img src="/static/images/9.jpg" alt="" />
              <img src="/static/images/10.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-body-tertiary text-center">
      <div class="container p-4"></div>

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2025 Copyright
        <br />
        <a class="text-body" href="mailto:delphin2065@hotmail.com" id="email"
          ><i class="fa-solid fa-envelope"></i
          >電子信箱：delphin2065@hotmail.com</a
        >
        <br />
        <a class="text-body" href="#" id="cellphone"
          ><i class="fa-solid fa-phone"></i>電話：0928-607-543</a
        >
      </div>
    </footer>
    <script
      color="0,0,0"
      opacity="0.3"
      z-index="-2"
      count="300"
      src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.4/canvas-nest.js"
      integrity="sha512-P+NGabN/TJDOnCVOFJO+E06TBm4i+M8dTT91lWg/8UpwLrzicEXIypmABPpA47D0x6r+yxFHjYIZKWhc1h7xlQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
